<h1>Bienvenido {{name}}</h1>
<h2>Empresas con las que estas relacionado</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef> Empresa </th>
    <td mat-cell *matCellDef="let element"> {{element.company}} </td>
  </ng-container>

  <ng-container matColumnDef="emailCompany">
    <th mat-header-cell *matHeaderCellDef> Correo Empresa </th>
    <td mat-cell *matCellDef="let element"> {{element.emailCompany}} </td>
  </ng-container>

  <ng-container matColumnDef="event">
    <th mat-header-cell *matHeaderCellDef> Evento de Relacion </th>
    <td mat-cell *matCellDef="let element"> {{element.event}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Fecha de Relación </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
<div>
  <button mat-button (click)="goToEventList()">Proximos Eventos</button>
  <button mat-button (click)="checkPassword()">Editar Perfil</button>
</div>

